.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--bg-color-sidebar-primary);
}

.chat.closed {
    width: 0;
}

.chat__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem 0;

    border-bottom: 1px solid var(--bg-color-sidebar-secondary);
}

.chat__container {
    margin-top: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 1rem;
    flex: 1;
    max-width: 100%;
}

.chat__container p {
    text-align: center;
}

.chat__item {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.chat__item_avatar {
    width: 3rem;
    object-fit: cover;
    border-radius: 100%;
}   

.chat__item_time {
    font-size: .8rem;
}

.chat__form {
    display: flex;
    gap: .5rem;
    padding: 1rem;
}

.chat__form input {
    border-radius: 4px;
    padding: .5rem 1rem;
    border: none;
    color: black;
    width: 100%;
}

.chat__form button {
    background-color: var(--primary-500);
    border-radius: 4px;
    color: var(--text);
    font-weight: 600;
    font-size: .85rem;

    border: none;
    padding: 0 1rem;
}